<div class="start-screen">
{{!-- <img class="story-image"src="{{image}}"/> --}}
<p>somehow, due to your incompetence, you have failed your quest.</p>
<br>
<p>try again?</p>
<br>
<a class="button" href="/">Restart</a>
</div>