
<div class="start-screen">

<h1 class="home-text">BANGKOK STORY</h1>
<br>
<p>After a long night out drinking you find yourself in somewhere very unfamiliar...</p>
<br>
<a href="/game" class="button">Start Your Story</a>
</div>

<img src={{image}}/>
<p>{{text}}</p>

<button class="startButton" type="button">Start Your Story</button> --}}

<button class="startButton" type="button">Start Your Story</button>


